{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
   <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
   <title>{% block title %}{% endblock %}</title>
</head>
<body>
 
    {% if user.is_authenticated %}
        <a href="{% url 'password_change' %}" > change  password </a>
        <a href="{% url 'logout' %}" > logout </a> 
    {% else %}
        <a href="{% url 'login' %}" > login </a>
       
    {% endif %}
   
       {% block content %}
       {% endblock %}
</body>
</html>