{% if request.user.role == 3 %}
    <div class="sideMenu bg-secondaryy">
        <div class="sideBar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{% url 'dash:responsible_dashbored' %}" class="nav-link">
                    <i class="icon fas fa-home"></i>
                    <span class="text">Mon tableau de bord</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'dash:view_profile' pk=request.user.id %}" class="nav-link">
                    <i class="icon fas fa-user"></i>
                    <span class="text">Mon profile</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'dash:ma_fiche_pointage' pk=request.user.id %}" class="nav-link">
                    <i class="icon fas fa-hourglass-half"></i>
                    <span class="text">Ma fiche de pointage</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'dash:mes_employes' %}" class="nav-link">
                    <i class="icon fas fa-address-book"></i>
                    <span class="text">Les employés</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="{% url 'dash:my_teams' %}" class="nav-link">
                    <i class="icon fas fa-users"></i>
                    <span class="text">Les Equipes</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="{% url 'dash:schedules' %}" class="nav-link">
                    <i class="icon fas fa-calendar-week"></i>
                    <span class="text">Les Plannings</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="{% url 'dash:fiche_pointage_all' %}" class="nav-link">
                    <i class="icon fas fa-clock"></i>
                    <span class="text">Pointage</span>
                </a>
            </li>
            
            <li class="nav-item liToggle fixed-bottom">
                <a href="#" class="nav-link sideMenuToggler" id='sideMenuToggler'>
                <i class="icon fas fa-chevron-circle-left"></i>
                </a>
            </li>
        </ul>
        </div>
    </div>
{% elif request.user.role == 2 %}
    <div class="sideMenu bg-secondaryy">
        <div class="sideBar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{% url 'dash:manager_dashbored' %}" class="nav-link">
                    <i class="icon fas fa-home"></i>
                    <span class="text">Mon tableau de bord</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'dash:view_profile' pk=request.user.id %}" class="nav-link">
                    <i class="icon fas fa-user"></i>
                    <span class="text">Mon profile</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'dash:ma_fiche_pointage' pk=request.user.id  %}" class="nav-link">
                    <i class="icon far fa-calendar-alt"></i>
                    <span class="text">Ma fiche de pointage</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="{% url 'dash:mes_equipes'  %}" class="nav-link">
                    <i class="icon fas fa-users"></i>
                    <span class="text">Mes équipes</span>
                </a>

            </li><li class="nav-item">
                <a href="{% url 'dash:fiche_pointage' %}" class="nav-link">
                    <i class="icon fas fa-clock"></i>
                    <span class="text">pointage</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="{% url  'dash:mes_collaborateurs'%}" class="nav-link">
                    <i class="icon fas fa-address-book"></i>
                    <span class="text">Mes collaboratteurs</span>
                </a>
            </li>

            {% comment %} <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon fas fa-users"></i>
                    <span class="text">Mon équipe</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a href="{% url 'dash:fiche_pointage' %}" class="nav-link">
                        <i class="icon fas fa-hourglass-half"></i>
                        <span class="text">Fiche de pointage</span>
                    </a>

                    <a href="{% url 'dash:mes_collaborateurs' %}" class="nav-link">
                        <i class="icon far fa-calendar-alt"></i>
                        <span class="text">Mes collaboratteurs</span>
                    </a>
            </li> {% endcomment %}
            <li class="nav-item liToggle fixed-bottom">
                <a href="#" class="nav-link sideMenuToggler" id='sideMenuToggler'>
                <i class="icon fas fa-chevron-circle-left"></i>
                </a>
            </li>
        </ul>
        </div>
    </div>
{% elif request.user.role == 1 %}
    <div class="sideMenu bg-secondaryy">
        <div class="sideBar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{% url 'dash:employe_dashbored' %}" class="nav-link">
                    <i class="icon fas fa-home"></i>
                    <span class="text">Mon tableau de bord</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'dash:view_profile' pk=request.user.id %}" class="nav-link">
                    <i class="icon fas fa-user"></i>
                    <span class="text">Mon profile</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'dash:ma_fiche_pointage' pk=request.user.id %}" class="nav-link">
                    <i class="icon fas fa-hourglass-half"></i>
                    <span class="text">Ma fiche de pointage</span>
                </a>
            </li>
            <li class="nav-item liToggle fixed-bottom">
                <a href="#" class="nav-link sideMenuToggler" id='sideMenuToggler'>
                <i class="icon fas fa-chevron-circle-left"></i>
                </a>
            </li>
             <li class="nav-item">
                {% if request.user.employe.planing.id  %}
                    <a href="{% url 'dash:my_schedule' pk=request.user.employe.planing.id %}" class="nav-link">
                    <i class="icon far fa-calendar-alt"></i>
                    <span class="text">Mon planning</span>
                </a>
                {% else %}
                {% endif %}
                
            </li>
            <li class="nav-item liToggle fixed-bottom">
                <a href="#" class="nav-link sideMenuToggler" id='sideMenuToggler'>
                <i class="icon fas fa-chevron-circle-left"></i>
                </a>
            </li>
            
        </ul>
        </div>
    </div>
{% else %}

{% endif %}