{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block nav %} {% endblock %}
{% block title %}Ma page d'accueil{% endblock %}
{% block content %}

    <div class="form">
        <form class="form-signin mt-5" method="POST" action="{% url 'authentification:login' %}">
            <img class="mb-4" src="/media/images/attime.png" alt="" width="140">
            <h1 class="h4 mb-3 font-weight-normal">Veuillez vous authentifier</h1>
            {% csrf_token %}
            {{ form }}
            <a class="mdpl" href="{% url 'authentification:password_reset' %}"> Mot de passe oublié ? </a>
            <button type="submit" class="btn btn-lg mt-2 btn-primary btn-block"> se connecter</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>  
        </form>
    </div>
{% endblock %}