{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block nav %} {% endblock %}
{% block title %}Ma page d'accueil{% endblock %}
{% block content %}
    <h1>
        <center>AUTHENTIFICATION YA JEDEK</center>
    </h1>

    <div>
        <form method="POST" action="{% url 'authentification:login' %}">
            {% csrf_token %}
            {{ form|crispy }}
         <button type="submit" class="btn btn-primary"> se connecter</button>  
        </form>
        <a href="{% url 'authentification:password_reset' %}"> j'ai oublier mon mot de passe </a>
    </div>
{% endblock %}