@function rem($value) {
    @return unquote(($value/1px)/16+"rem");
}

$easeTime: 0.1s;
$margin-top: 56px;
$colors: ( "primaryy": "#1BBC9B", "secondaryy": "#2D3E50", "background": "#EFF0F3");
@each $colorName,
$colorValue in $colors {
    .bg-#{$colorName} {
        background-color: #{$colorValue};
    }
    .text-#{$colorName} {
        color: #{$colorValue};
    }
}

body {
    @extend .bg-background;
     :focus {
        outline: 0 !important;
    }
}

.wrapper {
    .sideMenu {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 200px;
        transition: all ease $easeTime;
        transform: translateX(-100%);
        z-index: 2000;
        .nav-link {
            .text {
                display: none;
            }
        }
        .navbar-nav {
            margin-top: 56px;
        }
        .dropdown {
            outline: 0;
            .dropdown-menu {
                background-color: transparent;
                border: transparent;
                padding: 0;
                margin: 0;
                .dropdown-item {
                    color: white;
                    font-size: rem(12px);
                }
                .icon {
                    margin-right: rem(8px);
                    margin-left: rem(12px);
                    font-size: rem(24px);
                }
            }
        }
    }
    .content {
        width: 100%;
        margin-left: rem(0px);
        transition: all ease $easeTime;
    }
    &.active {
        .sideMenu {
            width: 70px;
            .nav-link {
                text-align: center;
                .text {
                    display: none;
                }
                .icon {
                    margin-right: 0;
                    margin-left: 0;
                    font-size: rem(24px);
                }
            }
            transform: translateX(0);
            .dropdown-toggle::after {
                display: none;
            }
            .dropdown-menu {
                display: none;
            }
        }
        .content {
            margin-left: rem(70px);
        }
    }
}

.nav-link {
    display: block;
    white-space: nowrap;
    .icon {
        font-size: rem(24px);
        height: rem(34px);
        width: rem(24px);
        margin-left: rem(12px);
        margin-right: rem(8px);
        color: white;
        vertical-align: middle;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .text {
        font-size: rem(12px);
        color: white;
    }
    &:hover,
    &:active {
        .icon,
        .text {
            @extend .text-primaryy;
        }
    }
}

.liToggle {
    font-size: 24px;
    justify-content: center;
    display: inline-flex;
    padding-bottom: 20px;
}

@media (min-width:992px) {
    .wrapper {
        .sideMenu {
            transform: translateX(0);
            .nav-link {
                .text {
                    display: inline;
                }
            }
        }
        .content {
            margin-left: rem(200px);
        }
    }
}

.profile-pic {
    width: 46px;
    height: 46px;
}

.tabs {
    padding-left: 0px;
    padding-right: 0px;
    .nav-tabs {
        border-radius: O;
    }
    .nav-link {
        @extend .text-secondaryy;
    }
}

// dashboard of all actor 
.row-dash {
    padding-top: 20px;
    padding-left: 20px;
    .card-b-mydash {
        text-align: center;
    }
}

.card {
    border-radius: 6px;
}

// Row of employe stats
.row-stats {
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    p,
    h6 {
        line-height: 0.6;
    }
    h6 {
        font-size: rem(10px);
        font-weight: bold;
    }
    p {
        font-size: rem(14px);
    }
}

.myChartDiv {
    width: 120px;
    height: 120px;
}

// Conteneur employe
.employe {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    // Card employe
    .card-employe {
        border: 8px;
        margin-bottom: 16px;
        border-left: 8px solid #2D3E50;
        .employe-pic {
            margin-top: 10px;
            margin-left: 20px;
            width: 46px;
            height: 46px;
        }
        .heure-e {
            position: absolute;
            top: 20px;
            right: 20px;
            line-height: 0.2;
            font-size: rem(12px);
            font-weight: bold;
        }
        .description-employe {
            margin-top: 10px;
            margin-left: 20px;
            margin-bottom: 14px;
            h5 {
                font-size: rem(16px);
                font-weight: bold;
            }
            p {
                font-size: rem(12px);
                line-height: 0.1;
            }
        }
        .more {
            bottom: 20px;
        }
    }
}

// Conteneur team
.equipe {
    padding-left: rem(32px);
    padding-right:rem(32px);
    padding-top: 10px;
    // Card team
    .card-equipe {
        border: 8px;
        margin-bottom: 16px;
        border-left: 8px solid #2D3E50;
        .heure-e {
            position: absolute;
            top: 20px;
            right: 20px;
            line-height: 0.2;
            font-size: rem(12px);
            font-weight: bold;
        }
        .description-equipe {
            margin-top: 10px;
            margin-left: 20px;
            h5 {
                font-size: rem(16px);
                font-weight: bold;
            }
            p {
                font-size: rem(12px);
                line-height: 0.1;
            }
        }
        .nb-employe {
            font-size: rem(12px);
            font-weight: bold;
            margin-top: 10px;
            margin-left: 20px;
        }
    }
}

// Button of card employe and team
.more {
    position: absolute;
    bottom: 10px;
    right: 20px;
    height: 30px;
    width: 30px;
    border-radius: rem(4px);
    @extend .bg-background;
    .more-icon {
        font-size: rem(10px);
        text-align: center;
    }
}

.profile {
    margin-left: 10px;
    margin-right: 10px;
    .media {
        margin-top: 20px;
        .media-body {
            line-height: 0.2;
            margin-left: 10px;
        }
    }
    .row {
        margin-top: 10px;
        .card {
            padding-top: 14px;
            padding-bottom: 14px;
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 20px;
        }
        .sauvgarder {
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
    }
}

.form-filter {
    padding-top: rem(12px);
    padding-left: rem(6px);
    padding-right: rem(6px);
    h5 {
        font-size: rem(26px);
    }
}

.table-my-pointage {
    background-color: white;
    margin-top: rem(20px);
}

.table-my-collaborator {
    margin-top: rem(20px);
    tbody {
        .employe-name {
            p {
                display: inline-block;
                padding-left: 10px;
            }
        }
        td {
            vertical-align: middle;
            a {
                float: right;
                margin-right: 36px;
                i {
                    font-size: rem(24px);
                    color: #2D3E50;
                }
            }
        }
    }
}

.table-my-collaborator-responsable{
    margin-top: rem(20px);
    tbody {
        .employe-name {
            p {
                display: inline-block;
                padding-left: 10px;
            }
        }
        td {
            vertical-align: middle;
            .btn-group{
                float: right;
                margin-right: 36px;
                position: static !important;
            }
            
        }
    }
}


.table-shift{
    margin-top: 10px;
    .table-title {
        height: 40px;
        line-height: 40px;
        font-weight: bold;
    }
    .tbody {
        padding-bottom: rem(2px);
        margin-bottom: 1px;
        .first-row {
            padding-bottom: rem(8px);
            padding-top: rem(8px);
            margin-top: rem(2px);
            background-color: white;
            
            
            .col{              
                margin-top: auto;
                margin-bottom: auto;
            }
        }
        .btn {
            line-height: 0px;
            font-weight: rem(20px);
            color: #2D3E50;
        }
    }
}

.table-my-coleauges {
    tbody {
        .employe-name {
            p {
                display: inline-block;
                padding-left: 10px;
            }
        }
        td {
            vertical-align: middle;
            a {
                float: right;
                margin-right: 36px;
                i {
                    font-size: rem(24px);
                    color: #2D3E50;
                }
            }
        }
    }
}

.back1{
    background-color: rgba(0,0,0,.05);
}

.back2{
    background-color: white;
}


.form-create{
    margin-left: rem(64px);
    margin-right: rem(64px);
    margin-top: rem(46px);
    @extend .text-secondaryy;
    .trait{
        height: rem(1px);
        margin-top: rem(16px);
        margin-bottom: rem(24px);
        @extend .bg-secondaryy;
    }
    h1{
        font-size: rem(32px);
    }
    
    button{
        margin-top: rem(24px);
    }
}


.title{
    margin-top: rem(12px);
    @extend .text-secondaryy;
    .trait{
        height: rem(1px);
        margin-top: rem(12px);
        margin-bottom: rem(24px);
        @extend .bg-secondaryy;
    } 
    h1{
        font-size: rem(32px);
        .center{
            text-align: center;
        }
    }
    .ligne{
        display: flex; 
        justify-content: space-between;
        a{
            height: rem(40px);
        }
    }
    .center{
        text-align: center

    }
}



.card.team {
    margin-top: rem(8px);
    margin-left:rem(8px);
    margin-right:rem(8px);
    .chart {
        padding-bottom: rem(8px);
    }
    
}

.charts.inout {
    left: 1rem;
    margin-top:rem(32px);
    margin-right:rem(32px);
}
.back1{
    background-color: rgba(0,0,0,.05);
}

// Team 
.team {
    margin-left: rem(12px);
    margin-right: rem(12px);
    // Card employe
    .card-team {
        border: 8px;
        margin-bottom: 16px;
        border-left: 8px solid #2D3E50;
        .title-team {
            margin-top: rem(10px);
            margin-left: rem(12px);
            font-size: rem(20px);
            font-weight: bold;
        }
        .heure-e {
            position: absolute;
            top: 20px;
            right: 20px;
            line-height: 0.2;
            font-size: rem(12px);
            font-weight: bold;
        }
        .description-team {
            margin-top: rem(24px);
            margin-left: rem(12px);
            margin-bottom: rem(8px);
            h5 {
                font-size: rem(16px);
                font-weight: bold;
            }
            p {
                font-size: rem(12px);
                line-height: 0.1;
            }
        }
        .more {
            display: flex;
            vertical-align: center;
            padding-top: 8px;
            margin-bottom: rem(8px);
        }
    }
}

.create-scedule{
    .partie{
        text-align: center;
        height: rem(32px);
        margin-bottom: rem(8px);
        span {
            font-size: rem(18px);
            @extend .text-#{secondaryy};           
        }
       
    }
}

.chart{
    margin-left: auto;
    margin-right: auto;
}


.card-schedule{
    display: flex;
    border-radius: 4px;
    background-color: white;
    margin-bottom: rem(24px);
    h3{
        font-size: rem(16px);
        font-weight: bold;
        white-space: nowrap;
        margin-top: rem(16px);
        margin-left: rem(12px);
    }
    .icon {
        font-size: rem(92px);
        margin-right: 24px;
        margin-left: auto;
        color: rgba(0, 0, 0, 0.15);
    }

    p{
        font-size: rem(32px);
        font-weight: bold;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: rem(12px);
    }

    .info{
        h2{
            font-size: rem(32px);
            font-weight: bold;
            white-space: nowrap;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: rem(12px);
        }
    
        p{
            font-size: rem(14px);
            font-weight: normal;
            margin-left: rem(12px);
        }
    }
}

.titel.center{
    text-align: center;
}
h1.center{
    text-align: center;
}
h2.center{
    text-align: center;
}
h5.center{
    text-align: center;
}
