@function rem($value){
    @return unquote(($value/1px)/16+"rem");
}

$easeTime: 0.1s;
$margin-top: 56px;

$colors: (
    "primaryy": "#1BBC9B",
    "secondaryy": "#2D3E50",
    "background": "#EFF0F3"
);

@each $colorName,$colorValue in $colors{
    .bg-#{$colorName}{
        background-color: #{$colorValue};
    }
    .text-#{$colorName}{
        color: #{$colorValue};
    }
}

body{
    @extend .bg-background;
    :focus {outline:0 !important;}
}

.wrapper{
    .sideMenu{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 200px;
        transition: all ease $easeTime;
        transform: translateX(-100%);
        z-index: 2000;

        .nav-link{
            .text{
                display: none;
            }
            
        }

        .navbar-nav{
            margin-top: 56px;
            height: 100%;
        }

        .dropdown{
            outline: 0;
            .dropdown-menu{
                background-color: transparent;
                border: transparent;
                padding: 0;
                margin: 0;
                .dropdown-item{
                    color: white;
                    font-size: rem(12px);
                }
                
                .icon{
                    margin-right: rem(8px);
                    margin-left: rem(12px);
                    font-size: rem(24px);
                }
            }
        }

        

    
        
    }
    .content{
        width: 100%;
        margin-left:  rem(0px);
        transition:  all ease $easeTime;
    }

    &.active{
        .sideMenu{
            width: 70px;
            .nav-link{
                text-align: center;
                .text{
                    display: none;
                }
                .icon{
                    margin-right: 0;
                    margin-left: 0;
                    font-size: rem(24px);
                    height: rem(34px);
                }
                              
            }
            transform: translateX(0);

            .dropdown-toggle::after{
                display: none;
            }

            .dropdown-menu{
                display: none;
            }
        }
        .content{
            margin-left: rem(70px);
        }

         
    }
}



.nav-link{
    display: block;
    white-space: nowrap;
    .icon{
        font-size: rem(22px);
        height: rem(24px);
        width: rem(24px);
        margin-left: rem(12px);
        margin-right: rem(8px);
        color: white;
        vertical-align: middle;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        
    }
    .text{
        font-size: rem(12px);
        color: white;
    }
    &:hover,
    &:active{
        .icon,.text{
            @extend .text-primaryy;
        }
    }
}

.liToggle{
    font-size: 24px;
    justify-content: center;
    vertical-align: bottom;
    display: inline-flex;
    margin-bottom: 0;
}




@media (min-width:992px){
    .wrapper{
        .sideMenu {
            transform: translateX(0);
            .nav-link{
                .text{
                    display: inline;
                }  
            }
        }
        .content {
            margin-left: rem(200px);
        }

        
    }

}


.profile-pic{
    width: 46px;
    height: 46px;
}