.bg-primaryy {
  background-color: #1BBC9B;
}

.text-primaryy, .nav-link:hover .icon,
.nav-link:hover .text, .nav-link:active .icon,
.nav-link:active .text {
  color: #1BBC9B;
}

.bg-secondaryy, .form-create .trait, .title .trait {
  background-color: #2D3E50;
}

.text-secondaryy, .tabs .nav-link, .form-create, .title, .create-scedule .partie span {
  color: #2D3E50;
}

.bg-background, body, .more {
  background-color: #EFF0F3;
}

.text-background {
  color: #EFF0F3;
}

body :focus {
  outline: 0 !important;
}

.wrapper .sideMenu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: 2000;
}

.wrapper .sideMenu .nav-link .text {
  display: none;
}

.wrapper .sideMenu .navbar-nav {
  margin-top: 56px;
}

.wrapper .sideMenu .dropdown {
  outline: 0;
}

.wrapper .sideMenu .dropdown .dropdown-menu {
  background-color: transparent;
  border: transparent;
  padding: 0;
  margin: 0;
}

.wrapper .sideMenu .dropdown .dropdown-menu .dropdown-item {
  color: white;
  font-size: 0.75rem;
}

.wrapper .sideMenu .dropdown .dropdown-menu .icon {
  margin-right: 0.5rem;
  margin-left: 0.75rem;
  font-size: 1.5rem;
}

.wrapper .content {
  width: 100%;
  margin-left: 0rem;
  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
}

.wrapper.active .sideMenu {
  width: 70px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.wrapper.active .sideMenu .nav-link {
  text-align: center;
}

.wrapper.active .sideMenu .nav-link .text {
  display: none;
}

.wrapper.active .sideMenu .nav-link .icon {
  margin-right: 0;
  margin-left: 0;
  font-size: 1.5rem;
}

.wrapper.active .sideMenu .dropdown-toggle::after {
  display: none;
}

.wrapper.active .sideMenu .dropdown-menu {
  display: none;
}

.wrapper.active .content {
  margin-left: 4.375rem;
}

.nav-link {
  display: block;
  white-space: nowrap;
}

.nav-link .icon {
  font-size: 1.5rem;
  height: 2.125rem;
  width: 1.5rem;
  margin-left: 0.75rem;
  margin-right: 0.5rem;
  color: white;
  vertical-align: middle;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-link .text {
  font-size: 0.75rem;
  color: white;
}

.liToggle {
  font-size: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-bottom: 20px;
}

@media (min-width: 992px) {
  .wrapper .sideMenu {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .wrapper .sideMenu .nav-link .text {
    display: inline;
  }
  .wrapper .content {
    margin-left: 12.5rem;
  }
}

.profile-pic {
  width: 46px;
  height: 46px;
}

.tabs {
  padding-left: 0px;
  padding-right: 0px;
}

.tabs .nav-tabs {
  border-radius: O;
}

.row-dash {
  padding-top: 20px;
  padding-left: 20px;
}

.row-dash .card-b-mydash {
  text-align: center;
}

.card {
  border-radius: 6px;
}

.row-stats {
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.row-stats p,
.row-stats h6 {
  line-height: 0.6;
}

.row-stats h6 {
  font-size: 0.625rem;
  font-weight: bold;
}

.row-stats p {
  font-size: 0.875rem;
}

.myChartDiv {
  width: 120px;
  height: 120px;
}

.employe {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
}

.employe .card-employe {
  border: 8px;
  margin-bottom: 16px;
  border-left: 8px solid #2D3E50;
}

.employe .card-employe .employe-pic {
  margin-top: 10px;
  margin-left: 20px;
  width: 46px;
  height: 46px;
}

.employe .card-employe .heure-e {
  position: absolute;
  top: 20px;
  right: 20px;
  line-height: 0.2;
  font-size: 0.75rem;
  font-weight: bold;
}

.employe .card-employe .description-employe {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 14px;
}

.employe .card-employe .description-employe h5 {
  font-size: 1rem;
  font-weight: bold;
}

.employe .card-employe .description-employe p {
  font-size: 0.75rem;
  line-height: 0.1;
}

.employe .card-employe .more {
  bottom: 20px;
}

.equipe {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 10px;
}

.equipe .card-equipe {
  border: 8px;
  margin-bottom: 16px;
  border-left: 8px solid #2D3E50;
}

.equipe .card-equipe .heure-e {
  position: absolute;
  top: 20px;
  right: 20px;
  line-height: 0.2;
  font-size: 0.75rem;
  font-weight: bold;
}

.equipe .card-equipe .description-equipe {
  margin-top: 10px;
  margin-left: 20px;
}

.equipe .card-equipe .description-equipe h5 {
  font-size: 1rem;
  font-weight: bold;
}

.equipe .card-equipe .description-equipe p {
  font-size: 0.75rem;
  line-height: 0.1;
}

.equipe .card-equipe .nb-employe {
  font-size: 0.75rem;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 20px;
}

.more {
  position: absolute;
  bottom: 10px;
  right: 20px;
  height: 30px;
  width: 30px;
  border-radius: 0.25rem;
}

.more .more-icon {
  font-size: 0.625rem;
  text-align: center;
}

.profile {
  margin-left: 10px;
  margin-right: 10px;
}

.profile .media {
  margin-top: 20px;
}

.profile .media .media-body {
  line-height: 0.2;
  margin-left: 10px;
}

.profile .row {
  margin-top: 10px;
}

.profile .row .card {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.profile .row .sauvgarder {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.form-filter {
  padding-top: 0.75rem;
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}

.form-filter h5 {
  font-size: 1.625rem;
}

.table-my-pointage {
  background-color: white;
  margin-top: 1.25rem;
}

.table-my-collaborator {
  margin-top: 1.25rem;
}

.table-my-collaborator tbody .employe-name p {
  display: inline-block;
  padding-left: 10px;
}

.table-my-collaborator tbody td {
  vertical-align: middle;
}

.table-my-collaborator tbody td a {
  float: right;
  margin-right: 36px;
}

.table-my-collaborator tbody td a i {
  font-size: 1.5rem;
  color: #2D3E50;
}

.table-my-collaborator-responsable {
  margin-top: 1.25rem;
}

.table-my-collaborator-responsable tbody .employe-name p {
  display: inline-block;
  padding-left: 10px;
}

.table-my-collaborator-responsable tbody td {
  vertical-align: middle;
}

.table-my-collaborator-responsable tbody td .btn-group {
  float: right;
  margin-right: 36px;
  position: static !important;
}

.table-shift {
  margin-top: 10px;
}

.table-shift .table-title {
  height: 40px;
  line-height: 40px;
  font-weight: bold;
}

.table-shift .tbody {
  padding-bottom: 0.125rem;
  margin-bottom: 1px;
}

.table-shift .tbody .first-row {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  margin-top: 0.125rem;
  background-color: white;
}

.table-shift .tbody .first-row .col {
  margin-top: auto;
  margin-bottom: auto;
}

.table-shift .tbody .btn {
  line-height: 0px;
  font-weight: 1.25rem;
  color: #2D3E50;
}

.table-my-coleauges tbody .employe-name p {
  display: inline-block;
  padding-left: 10px;
}

.table-my-coleauges tbody td {
  vertical-align: middle;
}

.table-my-coleauges tbody td a {
  float: right;
  margin-right: 36px;
}

.table-my-coleauges tbody td a i {
  font-size: 1.5rem;
  color: #2D3E50;
}

.back1 {
  background-color: rgba(0, 0, 0, 0.05);
}

.back2 {
  background-color: white;
}

.form-create {
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 2.875rem;
}

.form-create .trait {
  height: 0.0625rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.form-create h1 {
  font-size: 2rem;
}

.form-create button {
  margin-top: 1.5rem;
}

.title {
  margin-top: 0.75rem;
}

.title .trait {
  height: 0.0625rem;
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
}

.title h1 {
  font-size: 2rem;
}

.title h1 .center {
  text-align: center;
}

.title .ligne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title .ligne a {
  height: 2.5rem;
}

.title .center {
  text-align: center;
}

.card.team {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.card.team .chart {
  padding-bottom: 0.5rem;
}

.charts.inout {
  left: 1rem;
  margin-top: 2rem;
  margin-right: 2rem;
}

.back1 {
  background-color: rgba(0, 0, 0, 0.05);
}

.team {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.team .card-team {
  border: 8px;
  margin-bottom: 16px;
  border-left: 8px solid #2D3E50;
}

.team .card-team .title-team {
  margin-top: 0.625rem;
  margin-left: 0.75rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.team .card-team .heure-e {
  position: absolute;
  top: 20px;
  right: 20px;
  line-height: 0.2;
  font-size: 0.75rem;
  font-weight: bold;
}

.team .card-team .description-team {
  margin-top: 1.5rem;
  margin-left: 0.75rem;
  margin-bottom: 0.5rem;
}

.team .card-team .description-team h5 {
  font-size: 1rem;
  font-weight: bold;
}

.team .card-team .description-team p {
  font-size: 0.75rem;
  line-height: 0.1;
}

.team .card-team .more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: center;
  padding-top: 8px;
  margin-bottom: 0.5rem;
}

.create-scedule .partie {
  text-align: center;
  height: 2rem;
  margin-bottom: 0.5rem;
}

.create-scedule .partie span {
  font-size: 1.125rem;
}

.chart {
  margin-left: auto;
  margin-right: auto;
}

.card-schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  background-color: white;
  margin-bottom: 1.5rem;
}

.card-schedule h3 {
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
  margin-top: 1rem;
  margin-left: 0.75rem;
}

.card-schedule .icon {
  font-size: 5.75rem;
  margin-right: 24px;
  margin-left: auto;
  color: rgba(0, 0, 0, 0.15);
}

.card-schedule p {
  font-size: 2rem;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0.75rem;
}

.card-schedule .info h2 {
  font-size: 2rem;
  font-weight: bold;
  white-space: nowrap;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0.75rem;
}

.card-schedule .info p {
  font-size: 0.875rem;
  font-weight: normal;
  margin-left: 0.75rem;
}

.titel.center {
  text-align: center;
}

h1.center {
  text-align: center;
}

h2.center {
  text-align: center;
}

h5.center {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */