{% extends "base_generic.html" %}
{% block nav %} {% endblock %}
{% block title %} project manger dashbored {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container-fluid">
        <div class="form-modify">

            <div class="title" >
                <div class="ligne">
                    <h1>{{ form.titre.value|capfirst }}</h1>
                    <div class="div">
                        <a class="btn btn-primary" href="{% url 'dash:modify_team' pk=pk %}" role="button" aria-pressed="true">Modifier l'équipe</a>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteTeamModal">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </div>
                </div>
                <div class="trait"></div>
            </div>

            <div class="modal fade" id="deleteTeamModal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="deleteTeamModalLabel">Voulez-vous vraiment supprimer cette équipe?</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
    
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                      <a class="btn btn-primary" href="{% url 'dash:delete_team' pk=pk %}" role="button" aria-pressed="true">Confirmer la suppression</a>
                    </div>
                  </div>
                </div>
              </div>

                <form method='post'>
                    {% csrf_token %}
                    <div class="row align-items-end">
                        <div class="form-group col-md-6 mb-0">
                          {{ form.titre|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.manager|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-12 mb-0">
                          {{ form.description|as_crispy_field }}
                        </div>
                    </div>
                </form>

                <form method='post'>
                    {% csrf_token %}
                    <div class="row align-items-end">
                        <div class="form-group col-md-6 mb-0">
                            <label for="formGroupExampleInput">Ajouter un employé</label>
                            <input type="text" class="form-control" id="employe" placeholder="Entré le nom de l'employé" name="employe">
                        </div>
                        <div class="form-group col-md-6 mb-0 ">
                            <input class="btn btn-success btn-block" type='submit' value="Ajouter l'employé" name="add">
                        </div>
                    </div>
                </form>

        </div>
        <div class="employes">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-striped table-my-collaborator-responsable">
                                <thead>
                                <tr>
                                    <th scope="row">ID</th>
                                    <th scope="row">Employé</th>
                                    <th scope="row">Status</th>
                                    <th scope="row">Genre</th>
                                    <th scope="row">Téléphone</th>
                                </tr>
                                </thead>
                                <tbody>
                                        {% for employe  in employes %}
                                            <tr>
                                                <td>{{ employe.user.pk  }}</td>
                                                <td class="employe-name">
                                                    <img src="{{ employe.picture.url }}" class="profile-pic rounded-circle" alt="">
                                                    <p>{{ employe.user.last_name|upper  }} {{ employe.user.first_name|capfirst }}</p>
                                                </td>
                                                <td>
                                                    {% if employe.iwssad %}
                                                        Present
                                                    {% else %}
                                                        Sortie
                                                    {% endif%}
                                                </td>
                                                <td>
                                                    {% if employe.gender != F %}
                                                        Homme
                                                    {% else %}
                                                        Femme
                                                    {% endif%}
                                                </td>
                                                <td>
                                                    {% if employe.phone1 != None %}
                                                        employe.phone1
                                                    {% else %}
                                                        /
                                                    {% endif%}
                                                    
                                                    
                                                    <div class="btn-group ">
                                                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                                                            <i class="fas fa-ellipsis-v"></i>   
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                          <a class="dropdown-item" href="{% url 'dash:view_profile' pk=employe.user.pk %}">Voir le profile</a>
                                                          <a class="dropdown-item" href="{% url 'dash:ma_fiche_pointage' pk=employe.user.pk %}">Voir la fiche de pointage</a>
                                                          <div class="dropdown-divider"></div>
                                                          <a class="dropdown-item" value="delete" data-toggle="modal" data-target="#deleteTEmploye">Supprimer de l'équipe</a>
                                                        </div>
                                                      </div>
                                                    
                                                  
                                                </td> 
                                            </tr>

                                            <!-- Modal -->
                                            <div class="modal fade" id="deleteTEmploye" tabindex="-1" role="dialog" aria-hidden="true">
                                                <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteTEmployeLabel">Voulez-vous vraiment supprimer cette employé?</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    </div>
                                                    <div class="modal-footer">      
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                    <a  class="btn btn-primary" href="{% url 'dash:delete_employe_team' pk=employe.user.pk %}" role="button" aria-pressed="true">Confirmer la suppression</a>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                </tbody>
                            </table>
                        </div>
                </div>
        </div>
    </div>

 
    
{% endblock %}

{% block scripts %}
<script>
    $( function() {
      $( "#employe" ).autocomplete({
        source: "{% url 'dash:assign_team' pk=form.initial %}"
      });
    } );
    </script>
{% endblock %}