{% extends "base/base_emp.html" %}
{% block nav %} {% endblock %}
{% block title %}Ma page d'accueil{% endblock %}
{% block content %}
   
        <!--Card start time-->
        <div class="row row-dash">
            <div class="col">
                <div class="card text-justify" style="width: 18rem;">
                    <div class="card-body card-b-mydash">
                      <h5 class="card-title">Vous êtes arrivez a :</h5>
                      <p class="card-text">08:05</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Card time of work-->
        <div class="row row-dash">
            <div class="col">
                <div class="card text-justify" style="width: 18rem;">
                    <div class="card-body card-b-mydash">
                      <h5 class="card-title">En post depuis:</h5>
                      <p class="card-text">3h05m</p>
                    </div>
                </div>
            </div>
        </div>
  

    
{% endblock %}