{% extends "base_generic.html" %} {% block nav %} {% endblock %} {% block title %}Ma page d'accueil{% endblock %} {% block content %}

<div class="container-fluid">
     <div class="title" >
            <div class="ligne">
                <h1>Mon Tableau de bord</h1>
               
            </div>
            <div class="trait"></div>
        </div>
    <div class="row">
        <div class="col ">
            <!--Card time of work-->
            <div class="row row-dash">
                <div class="col">
                    <div class="card text-justify">
                        <div class="card-body card-b-mydash">
                            <h5 class="card-title">En post depuis:</h5>
                            <p class="card-text">
                                {{ in_post_t }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col ">
            <!--Card time left to go -->
            <div class="row row-dash">
                <div class="col">
                    <div class="card text-justify" >
                        <div class="card-body card-b-mydash">
                            <h5 class="card-title">Vous sortez dans :</h5>
                            <p class="card-text">
                                {{ time_left }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <h4 class="pt-2">Votre planning du jour</h4>
    <!-- ptodays planing hours -->
    <div class="row">
        <div class="col-3 ">
            <div class="row row-dash">
                <div class="col">
                    <div class="card text-justify" >
                        <div class="card-body card-b-mydash">
                            <h5 class="card-title">Entrée 1 :</h5>
                            <p class="card-text">
                                {{ todays_hours.0}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 ">
            <div class="row row-dash">
                <div class="col">
                    <div class="card text-justify" >
                        <div class="card-body card-b-mydash">
                            <h5 class="card-title">Sortie 1 :</h5>
                            <p class="card-text">
                                {{ todays_hours.1}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 ">
            <div class="row row-dash">
                <div class="col">
                    <div class="card text-justify" >
                        <div class="card-body card-b-mydash">
                            <h5 class="card-title">Entrée 2 :</h5>
                            <p class="card-text">
                                {{ todays_hours.2}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 ">
            <div class="row row-dash">
                <div class="col">
                    <div class="card text-justify" >
                        <div class="card-body card-b-mydash">
                            <h5 class="card-title">Sortie 2 :</h5>
                            <p class="card-text">
                                {{ todays_hours.3}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 class="pt-3">Vos collaborateurs</h4>
    <!-- cloleagues table -->
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped table-my-collaborator">
                <thead>
                    <tr>
                        <th scope="row">#</th>
                        <th scope="row">Collaborateurs</th>
                        <th scope="row">Rôle</th>
                        <th scope="row">Genre</th>
                        <th scope="row">Téléphone</th>
                        <th scope="row">Status</th>
                    </tr>
                </thead>

                <tbody>
                        {% if coleagues%}
                        {% for coleague in coleagues %}
                        <tr>
                            <td >
                                {{ coleague.id }}
                            </td>
                            <td class="employe-name">
                                <img src="{{ coleague.picture.url }}" class="profile-pic rounded-circle" alt="">
                                <p>{{ coleague.user.last_name|upper }} {{ coleague.user.first_name|capfirst }}  </p>
                            </td>

                            <td>
                                {{ coleague.user.get_role_display }}
                            </td>

                            <td>
                                {% if coleague.gender != 'F' %} Homme {% else %} Femme {% endif%}
                            </td>
                            <td>
                                {% if coleague.phone1 != None %} {{coleague.phone1}} {% else %} / {% endif%}

                            </td>

                            <td>
                                {% if coleague.iwssad %} 
                                    <h6><span class="badge badge-success">Present</span></h6>
                                {% else %}  
                                    <h6><span class="badge badge-danger">Absent</span></h6>                                
                                {% endif%}
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                            <tr>
                            <td class="employe-name">
                                <img src="{{'/'}}" class="profile-pic rounded-circle" alt="">

                            </td>
                            <td class="employe-name">
                                <p>{{ '/'}} </p>
                                <p>{{ '/' }} </p>
                            </td>

                            <td>
                                {{'/'}}
                            </td>
                            <td>
                                 {{'/'}}

                            </td>

                            <td>
                                 {{'/'}}

                            </td>
                        </tr>
                        {% endif %}
                        
                    </div>


                </tbody>
            </table>


        </div>
    </div>
</div>
</div>


</div>

{% endblock %}