{% extends "base_generic.html" %} {% block nav %} {% endblock %} {% block title %}Manager dashbored {% endblock %} {% block content %}

<!--Tabs-->
<div class="container-fluid tabs">
    <!--Link of different tabs-->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
         <li class="nav-item " role="presentation">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="fals">Mon tableau de bord</a>
        </li>

        <li class="nav-item " role="presentation">
            <a class="nav-link " id="contact-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Mes équipe</a>
        </li>
       

    </ul>
    <!--differents divs tabs-->
    <div class="tab-content" id="myTabContent">

         <!--Onglet dashboard manager-->
        <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="container-fluid">

                <div class="row">
                    <div class="col ">
                        <!--Card time of work-->
                        <div class="row row-dash">
                            <div class="col">
                                <div class="card text-justify">
                                    <div class="card-body card-b-mydash">
                                        <h5 class="card-title">En post depuis:</h5>
                                        <p class="card-text">
                                            {{ in_post_t }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col ">
                        <!--Card time left to go -->
                        <div class="row row-dash">
                            <div class="col">
                                <div class="card text-justify">
                                    <div class="card-body card-b-mydash">
                                        <h5 class="card-title">Vous sortez dans :</h5>
                                        <p class="card-text">
                                            {{ time_left }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <br>
                <h2>Votre planinge du jours</h2>
                <!-- ptodays planing hours -->
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="row row-dash">
                            <div class="col">
                                <div class="card text-justify">
                                    <div class="card-body card-b-mydash">
                                        <h5 class="card-title">Entrée 2 :</h5>
                                        <p class="card-text">
                                            {{ todays_hours.0}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 ">
                        <div class="row row-dash">
                            <div class="col">
                                <div class="card text-justify">
                                    <div class="card-body card-b-mydash">
                                        <h5 class="card-title">Entrée 2 :</h5>
                                        <p class="card-text">
                                            {{ todays_hours.1}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="row row-dash">
                            <div class="col">
                                <div class="card text-justify">
                                    <div class="card-body card-b-mydash">
                                        <h5 class="card-title">Entrée 2 :</h5>
                                        <p class="card-text">
                                            {{ todays_hours.2}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 ">
                        <div class="row row-dash">
                            <div class="col">
                                <div class="card text-justify">
                                    <div class="card-body card-b-mydash">
                                        <h5 class="card-title">Sortie 2 :</h5>
                                        <p class="card-text">
                                            {{ todays_hours.3}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <!-- cloleagues table -->
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-striped table-my-collaborator">
                            <thead>
                                <tr>
                                    <th scope="row">photo</th>
                                    <th scope="row">Nom-Prénom</th>
                                    <th scope="row">Genre</th>
                                    <th scope="row">Téléphone</th>
                                    <th scope="row">Présence</th>
                                </tr>
                            </thead>

                            <tbody>
                                <div class="col">

                                    {% if collaborateurs%} {% for coleague in collaborateurs %}
                                    <tr>
                                        <td class="employe-name">
                                            <img src="{{ coleague.picture.url }}" class="profile-pic rounded-circle" alt="">

                                        </td>
                                        <td class="employe-name">
                                            <p>{{ coleague.user.last_name|upper }} </p>
                                            <p>{{ coleague.user.first_name|capfirst }} </p>
                                        </td>

                                        <td>
                                            {% if coleague.gender != F %} Homme {% else %} Femme {% endif%}
                                        </td>
                                        <td>
                                            {% if coleague.phone1 != None %} coleague.phone1 {% else %} / {% endif%}

                                        </td>

                                        <td>
                                            {% if coleague.iwssad %} Present {% else %} Sortie {% endif%}

                                        </td>
                                    </tr>
                                    {% endfor %} {% else %}
                                    <tr>
                                        <td class="employe-name">
                                            <img src="{{'/'}}" class="profile-pic rounded-circle" alt="">

                                        </td>
                                        <td class="employe-name">
                                            <p>{{ '/'}} </p>
                                            <p>{{ '/' }} </p>
                                        </td>

                                        <td>
                                            {{'/'}}
                                        </td>
                                        <td>
                                            {{'/'}}

                                        </td>

                                        <td>
                                            {{'/'}}

                                        </td>
                                    </tr>
                                    {% endif %}

                                </div>


                            </tbody>
                        </table>


                    </div>
                </div>
            </div>

        </div>

        <!--Onglet mes  équipe-->
        <div class="tab-pane fade " id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="cointainer-fluid">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-sm-6">
                        <div class="card team text-justify " >
                            <div class="card-body card-b-mydash ">
                                <h1 class="center">Mes collaborateurs </h1>  
                                <h2 class="center"> {{colaborators_all_nbr}}</h2>
                                <h1 class="center">Mes Équipes </h1>  
                                <h2 class="center"> {{managed_teams_nbr}}</h2>
                                
                               
                                    
                                {% comment %} <div class="right">
                                    <h4>{{colaborators_all_nbr}}</h4>
                                    <i class="fas fa-users"></i>
                                
                                </div> {% endcomment %}
                                
                            </div>
                        </div>
                        
                    </div>

                    <!--Card stats employés gender-->
                    <div class="col-xl-4 col-md-6 col-sm-6">
                    
                        <div class="card team">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8">

                                        <div class="myChartDiv " style="width:260px ;">
                                            <canvas id="employe_gender_chart"></canvas>
                                        </div>

                                    </div>

                                    <div class="col-4">
                                        <h6 class="title-f">Homme</h6>
                                        <p class="description">{{male_collabortors_nbr}} employés</p>
                                        <h6 class="title-h">Femme</h6>
                                        <p class="description">{{female_collabortors_nbr}} employés</p>
                                        <h6 class="title-t">Total</h6>
                                        <p class="description">{{colaborators_all_nbr}} employés</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Card stats employés présence-->
                    <div class="col-xl-4 col-md-6 col-sm-6">
                    
                        <div class="card team">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8">

                                        <div class="myChartDiv " style="width:260px ;">
                                            <canvas id="employe_présence_chart"></canvas>
                                        </div>

                                    </div>

                                    <div class="col-4">
                                        <h6 class="title-f">Entrée</h6>
                                        <p class="description">{{colaborators_in_nbr}} employés</p>
                                        <h6 class="title-h">Sortie</h6>
                                        <p class="description">{{colaborators_out_nbr}} employés</p>
                                        <h6 class="title-t">Total</h6>
                                        <p class="description">{{colaborators_all_nbr}} employés</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
               
                <div class="employe">
                    <!--Lignes card des employés-->
                    <h5>Mes collaborateurs</h5>
                    <div class="row row-employe ">
                        {% if collaborateurs %}
                        {% for col  in collaborateurs  %}
                            {% if col.user.id != request.user.id %}
                            
                                <div class="col-xl-3 col-md-4 col-sm6">
    
                                    <div class="card card-employe{% if col.iwssad %}-p{% else %}-a{% endif %}">
    
                                        <img src="/media/images/nounours.png" class="employe-pic rounded-circle" alt="">
                                        <div class="description-employe">
                                            <h5>{{col.user.first_name}} {{col.user.last_name}}</h5>
                                            <p>{{col.fonction}}</p>
                                        </div>
                                        {% if col.iwssad %}
                                            <div class="heure-e">
                                                <p>{{col.laste_entry}}</p>
                                                <p>{{col.in_post_time}}</p>
                                            </div>
                                        {% else %}
                                            <div class="heure-e">
                                                <p>/</p>
                                                <p>/</p>
                                            </div>
                                        {% endif %}

    
                                        <a class="btn more" href="{% url 'dash:view_profile' pk=col.user.id %}">
                                            <i class="fas fa-chevron-right more-icon"></i>
                                        </a>
                                        </button>
    
                                    </div>
    
                                </div>
                            {% endif %}    
                        {% endfor %}     
                        {% endif %}
                              
                    </div>
                </div>  
               
                    
                
            
            </div>
        </div>
       

    </div>
</div>

{% block scripts %}
{% comment %} employe gender chart {% endcomment %}
<script>
    data1 = {
        labels: ["Homme {{male_collabortors_nbr}} ", "Femme {{female_collabortors_nbr}}", ],
        datasets: [{
            label: "Population (millions)",
            backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
            data: [{{male_collabortors_nbr}}, {{female_collabortors_nbr}}, ]
        }]
    }
    var ctx1 = document.getElementById('employe_gender_chart').getContext('2d');
    new Chart(ctx1, {
        type: 'doughnut',
        data: data1,
        options: {
            title: {
                display: false,
                text: 'récapitulatife de présence '
            },
            responsive:true,
            maintainAspectRatio:false,
        }
    });
</script>
{% comment %} employe présence chart  {% endcomment %}
<script>
    data = {
        labels: ["Entrée {{colaborators_in_nbr}} ", "Sortie {{colaborators_out_nbr}}", ],
        datasets: [{
            label: "Population (millions)",
            backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
            data: [{{colaborators_in_nbr}}, {{colaborators_out_nbr}}, ]
        }]
    }
    var ctx = document.getElementById('employe_présence_chart').getContext('2d');
    new Chart(ctx, {
        type: 'doughnut',
        data: data,
        options: {
            title: {
                display: false,
                text: 'récapitulatife de présence '
            },
            responsive:true,
            maintainAspectRatio:false,
        }
    });
</script>
{% endblock scripts %} {% endblock %}