{% extends "base_generic.html" %}
{% block nav %} {% endblock %}
{% block title %} my team  {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

    
    <div class="container-fluid">
            <div class="title">
                <div class="ligne">
                    <h1>{{team.titre}}</h1>

                </div>
                <div class="trait"></div>
            </div>
                <div class="row row-stats">
                    <div class="col-xl-4 col-md-6 col-sm-6">
                        <div class="card team text-justify " >
                            <div class="card-body card-b-mydash ">
                                <h2 class="card-title">{{team.titre}}</h2>
                                <h4 class="card-title"> {{team.manager}}</h4>
                                <p> {{team.description|truncatechars:36}}</p>
                                <div class="right">
                                    <h4>{{colaborators_all_nbr}}</h4>
                                    <i class="fas fa-users"></i>
                                
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>

                    <!--Card stats employés gender-->
                    <div class="col-xl-4 col-md-6 col-sm-6">
                    
                        <div class="card team">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">

                                        <div class="myChartDiv " style="width:120px ;">
                                            <canvas id="employe_gender_chart"></canvas>
                                        </div>

                                    </div>

                                    <div class="col-6 d-flex">
                                        <div class="ml-auto mr-2">
                                            <h6 class="title-f">Homme</h6>
                                            <p class="description">{{male_collabortors_nbr}} employés</p>
                                            <h6 class="title-h">Femme</h6>
                                            <p class="description">{{female_collabortors_nbr}} employés</p>
                                            <h6 class="title-t">Total</h6>
                                            <p class="description">{{colaborators_all_nbr}} employés</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Card stats employés présence-->
                    <div class="col-xl-4 col-md-6 col-sm-6">
                        <div class="card team">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-6">
                                        <div class="myChartDiv " style="width:120px ;">
                                            <canvas id="employe_présence_chart"></canvas>
                                        </div>
                                    </div>

                                    <div class="col-6 d-flex">
                                        <div class="ml-auto mr-2">
                                            <h6 class="title-f">Entrée</h6>
                                            <p class="description">{{colaborators_in_nbr}} employés</p>
                                            <h6 class="title-h">Sortie</h6>
                                            <p class="description">{{colaborators_out_nbr}} employés</p>
                                            <h6 class="title-t">Total</h6>
                                            <p class="description">{{colaborators_all_nbr}} employés</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                

                <div class="employe">
                    <!--Lignes card des employés-->
                    <h5>Mes employés</h5>
                    <div class="row row-employe ">
                        {% if colaborators %}
                        {% for col  in colaborators  %}
                            {% if col.user.id != request.user.id %}
                            
                                <div class="col-xl-3 col-md-4 col-sm6">
    
                                    <div class="card card-employe{% if col.iwssad %}-p{% else %}-a{% endif %}">
    
                                        <img src="{{ col.picture.url }}" class="employe-pic rounded-circle" alt="">
                                        <div class="description-employe">
                                            <h5>{{col.user.first_name}} {{col.user.last_name}}</h5>
                                            <p>{{col.fonction}}</p>
                                        </div>
                                        {% if col.iwssad %}
                                            <div class="heure-e">
                                                <p><i class="fas fa-sign-out-alt" style="font-size: 14px;"></i>  {{col.laste_entry}}</p>
                                                <p><i class="fas fa-clock" tyle="font-size: 14px;"></i> {{col.in_post_time}}</p>
                                            </div>
                                        {% else %}
                                            <div class="heure-e">
                                                
                                                <p> </p>
                                                <p> </p>
                                            </div>
                                        {% endif %}
    
                                        <a class="btn more" href="{% url 'dash:view_profile' pk=col.user.id %}">
                                            <i class="fas fa-chevron-right more-icon"></i>
                                        </a>
                                        </button>
    
                                    </div>
    
                                </div>
                            {% endif %}    
                        {% endfor %}     
                        {% endif %}
                              
                    </div>
                </div>  
      
    </div>

 {% block scripts %}
{% comment %} employe gender chart {% endcomment %}
<script>
    data1 = {
        labels: ["Homme {{male_collabortors_nbr}} ", "Femme {{female_collabortors_nbr}}", ],
        datasets: [{
            label: "Population (millions)",
            backgroundColor: ["#2A333C", "#FE5F55"],
            data: [{{male_collabortors_nbr}}, {{female_collabortors_nbr}}, ]
        }]
    }
    var ctx1 = document.getElementById('employe_gender_chart').getContext('2d');
    new Chart(ctx1, {
        type: 'doughnut',
        data: data1,
        options: {
                aspectRatio: 1,
                layout: {
                    padding: {
                        left: 0,
                        right: 0,
                        top: 0,
                        bottom: 0,
                    }
                },
                responsive: true,
                cutoutPercentage: 60,
                legend: {
                    display: false,
                },
                title: {
                    display: false,
                },
            }
    });
</script>

{% comment %} employe présence chart  {% endcomment %}
<script>
    data = {
        labels: ["Entrée {{colaborators_in_nbr}} ", "Sortie {{colaborators_out_nbr}}", ],
        datasets: [{
            label: "Population (millions)",
            backgroundColor: ["#2A333C", "#FE5F55"],
            data: [{{colaborators_in_nbr}}, {{colaborators_out_nbr}}, ]
        }]
    }
    var ctx = document.getElementById('employe_présence_chart').getContext('2d');
    new Chart(ctx, {
        type: 'doughnut',
        data: data,
        options: {
                aspectRatio: 1,
                layout: {
                    padding: {
                        left: 0,
                        right: 0,
                        top: 0,
                        bottom: 0,
                    }
                },
                responsive: true,
                cutoutPercentage: 60,
                legend: {
                    display: false,
                },
                title: {
                    display: false,
                },
            }
    });
</script>
{% endblock scripts %}
    
{% endblock %}

