{% extends "base_generic.html" %}
{% block nav %} {% endblock %}
{% block title %}Mon profile{% endblock %}
{% block content %}

    <div class="container-fluid">
         <div class="title" >
            <div class="ligne">
                <h1>Fiche De Pointage</h1>
               
            </div>
            <div class="trait"></div>
        </div>
        <div class="row form-filter justify-content-between">
            <div class="col-sm-12 col-lg-12 col-xl-4">
                
            </div>
            <div class="col-sm-12 col-lg-12 col-xl-8">
                    <form class="form-inline filtre  float-right" method="GET">  
                        {% csrf_token %}
                        <div id="inline" data-date="01/05/2020">
                            <div id="range">                 
                                <input type="text" name="start" class="form-control" placeholder="Date début" autocomplete="off">   
                                <input type="text" name="end" class="form-control" placeholder="Date fin" autocomplete="off">            
                            </div>
                        </div>
                        <select class="custom-select mr-2" id="inlineFormCustomSelectPref">
                          <option selected>Filtre...</option>
                          <option value="1">Par semaine</option>
                          <option value="1">Par Mois</option>
                        </select>
                        <button type="submit" class="btn btn-primary">Chercher</button>
                    
                    </form>
            </div>
        </div>

        <div class="table-shift">
            <div class="row table-title">
                <div class="col">Date</div>
                <div class="col">Heure d'entré</div>
                <div class="col">Heure de sortie</div>
            </div>
            <div class="tbody">
                {% for d in first_shifts %} 
                    <div class="row first-row {% if forloop.counter|divisibleby:2  %} back1 {%else%} back2 {% endif %} ">
                        <div class="col">
                            {{d.0}}
                        </div>  
                        <div class="col">
                            {{d.2}}
                        </div>
                            
                        <div class="col">
                            {{d.3}}
                            <a class="btn float-right" data-toggle="collapse" href="#collapseExample{{d.0| date:'jM'}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                    {% for d1 in other_shifts %}                              
                        {% if d.0 == d1.0  %}                        
                            <div class="row collapse" id="collapseExample{{d.0| date:'jM'}}">
                                <div class="col">                               
                                </div>   
                                <div class="col">
                                    {{d1.2}}
                                </div>                   
                                <div class="col">
                                    {{d1.3}}             
                                </div>

                            </div>               
                        {% endif %} 
                    {% endfor %} 
                {% endfor %} 
            </div>      
                
        </div>

        <div class="row float-right mr-2">
            <div class="pagination">

                {% if first_shifts.has_other_pages %}
              <ul class="pagination">
                {% if first_shifts.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ first_shifts.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                        </a>
                    </li>
                {% else %}
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Next</span>
                    </a>
                </li>
                {% endif %}
                {% for i in first_shifts.paginator.page_range %}
                  {% if first_shifts.number == i %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">
                            {{ i }} 
                          <span class="sr-only">(current)</span>
                        </span>
                      </li>
                  {% else %}
                    <li class="page-item"><a href="?page={{ i }}" class="page-link" >{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if first_shifts.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ first_shifts.next_page_number }}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                        </a>
                    </li>
                {% endif %}
              </ul>
            {% endif %}
            </div>
        </div>
        
        
        
    </div>


    

{% endblock %}


