{% extends "base_generic.html" %} {% block nav %} {% endblock %} {% block title %}Manager dashbored {% endblock %}
{% block content %}


 <div class="container-fluid">
        <div class="team">
            <div class="title">
                <div class="ligne">
                    <h1>Mes équipes</h1>

                </div>
                <div class="trait"></div>
            </div>
    
            <div class="row">
                {% if teams %}
                    {% if teams_nbr > 1 %}
                    {% for team in teams %}
                        <div class="col-xl-3 col-md-4 col-sm6">
                            <div class="card card-team">     
                                <h3 class="title-team">{{ team.titre }}</h3>
                                <div class="description-team">
                                    {% if team.manager.user.first_name %}
                                        <h5>{{ team.manager.user.first_name }} {{ team.manager.user.last_name }}</h5>
                                    {% else %}
                                        <h5>Aucun manager</h5>
                                    {% endif %}
                                    <p>{{ team.description|truncatechars:22  }}</p>
                                </div>
                                <div class="heure-e">
                                    <p>{{ team.nb_emp }}</p>
                                    <p>{{ team.nb_emp_in }}</p>
                                </div>
                                <a class="btn more" href="{% url 'dash:equipe_view' pk=team.id %}">
                                    <i class="fas fa-chevron-right more-icon"></i>
                                </a>
                            
                            </div>
                            
                        </div>   
                    {% endfor %}
                                           
                    {% endif%}
                
               
                {% endif %}
               
                    
                
            
            </div>
 
            </div>
        </div>
    </div>  





    

{% block scripts %}



{% endblock scripts %} 
{% endblock %}