{% extends "base/base_pro_man.html" %}
{% block nav %} {% endblock %}
{% block title %}Mon profile{% endblock %}
{% block content %}
    <div class="profile">
        <div class="media">
            <img src="/media/images/nounours.png" class="profile-pic rounded-circle" alt="">
            <div class="media-body">
              <h5 class="mt-0">Nom de l'employé</h5>
              <p>Role de l'employé</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <h6>Information personnel</h6>
                <div class="card">
                   
                </div>
            </div>

            <div class="col">
                <h6>Coordonées</h6>
                <div class="card">
                    
                </div>
            </div>
        </div>

    </div>
{% endblock %}