{% extends "base_generic.html" %}
{% block nav %} {% endblock %}
{% block title %}Mon profile{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="profile container-fluid">
        <div class="title" >
            <div class="ligne">
                <h1>Profile</h1>  
                <div>
                     <!-- the employe dont have a planing  -->
                    {% if planing_pk == -1 %}
                        {% if request.user.role != 1 and request.user.role != 2   %}
                            <a  href="{% url 'dash:schedules'%}" class=" btn btn-primary">Affecter un  Planing</a> 
                        {% endif %}
                    {% else %}
                        <!-- if it a simple employé  -->
                        {% if request.user.id == form.user.value  %}
                            <a  href="{% url 'dash:my_schedule' %}" class=" btn btn-primary">Afficher Mon Planing</a> 
                        <!-- if it s a manager or a responsible -->
                        {% else %}
                            <a  href="{% url 'dash:schedule' pk=planing_pk %}" class=" btn btn-primary">Afficher le Planing</a>
                        {% endif %}
                    {% endif %}
                    {% if request.user.role == 3 or request.user.id == user_form.initial.id  %} 
                    <a class="btn btn-primary" href="{% url 'dash:edit_profile' pk=user_form.initial.id %}" role="button" aria-pressed="true"><i class="far fa-edit"></i></a>  
                    {% endif %}
                </div>
            </div>
            <div class="trait"></div>
        </div>  
        <div class="media">
            <img src="{{ picture.url }}" class="profile-pic rounded-circle" alt="">
            <div class="media-body">
                <h5 class="mt-0">{{ user_form.first_name.value }} {{ user_form.last_name.value }}</h5>
                {% if user_form.role.value == 1 %}
                    <p> Employé</p>
                {% else %}
                    {% if  user_form.role.value == 2 %}
                        <p> Manager </p>
                    {% else %}
                        <p> Responsable</p>
                    {% endif %}
                {% endif %}
              
            </div>
        </div>
        
        
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="row">
                {% csrf_token %}
                <!--Information personnel-->
                <div class="col-sm-12 col-md-6">
                    <h6>Information personnel</h6>
                    <div class="card">
                        {{ user_form.role|as_crispy_field }} 
                        {{ user_form.username|as_crispy_field }} 
                        <div class="form-row">
                            <div class="form-group col-md-5 mb-0">
                                {{ user_form.last_name|as_crispy_field }}
                            </div> 
                            <div class="form-group col-md-7 mb-0">
                                {{ user_form.first_name|as_crispy_field }}
                            </div>
                        </div>
                        {{ formset.management_form }}
                        {% for form in formset %}
                        {{ form.id|as_crispy_field }}
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-0">
                                {{ form.birthdate|as_crispy_field }}
                            </div> 

                            <div class="form-group col-md-6 mb-0">
                                {{ form.gender|as_crispy_field }}
                            </div> 

                        </div>
                    </div>
                </div>

                <!--Coordonnées-->
                <div class="col-sm-12 col-md-6">
                    <h6>Coordonées</h6>
                    <div class="card">
                        {{ form.planing|as_crispy_field }}
                        {{ form.address|as_crispy_field }}
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-0">
                                {{ form.phone1|as_crispy_field }}
                            </div>

                            <div class="form-group col-md-6 mb-0">
                                {{ form.phone2|as_crispy_field }}
                            </div>
                        </div>
                        
                        {{ user_form.email|as_crispy_field }} 
                        

                    </div>

                    
                </div>

                <!--Information public-->
                <div class="col-12 col-md-6">
                    <h6>Information public</h6>
                    <div class="card">
                        {{ form.description|as_crispy_field }}
                    </div>
                    
                </div>

                <!--Note du manager-->
                <div class="col-12 col-md-6">
                    {% if request.user.role == 2 and request.user.id != form.user.value %}
                        <h6>Note du manager</h6>
                        <div class="card">
                            {% if messages %}
                            
                                {% for m in messages %}
                                 <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    {{ m }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                {% endfor %}
                            
                            {% endif %}
                            {{ form.observation|as_crispy_field }}
                            <button type="submit" id="add-obs" class="btn btn-success">Ajouter une observation</button> 
                        </div>
                    {% endif %}    
                </div>
                {% endfor %}  
                

            </div>
            
        </form>    
        

        
       
          
    </div>


{% endblock %}


{% block scripts %}

{% endblock scripts %}


