{% extends "base_generic.html" %}
{% block nav %} {% endblock %}
{% block title %}Mon profile{% endblock %}
{% block content %}

    <div class="container-fluid">
                <div class="title" >
                    <div class="ligne">
                    <h1>Les Affercations </h1>
               
                    </div>
                <div class="trait"></div>
               
              <div class="row">
                    <div class="table-responsive">
                        <table class="table table-striped table-my-collaborator">
                            <thead>
                            <tr>
                                <th scope="row">ID</th>
                                <th scope="row">Employé</th>
                                <th scope="row">Team</th>
                                <th scope="row">enter day</th>
                                <th scope="row">exit day</th>
                            </tr>
                            </thead>
                            <tbody>
                                    {% for affectation  in all_affecatations %}
                                        <tr>
                                            <td>{{ affectation.pk  }}</td>
                                            <td>{{ affectation.employe.user.first_name }}  {{ affectation.employe.user.last_name }} ( {{ affectation.employe.user.username }} ) </td>
                                            <td> {{ affectation.team.titre }}</td>
                                            <td>{{affectation.enter_day}}</td> 
                                            <td>{{affectation.exit_day}}</td> 
                                        </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>     

        
    </div>


    

{% endblock %}


