{% extends "base_generic.html" %}
{% block nav %} {% endblock %}
{% block title %} project manger dashbored {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container-fluid">
        <div class="title">
            <div class="ligne">
                <h1>Les équipes</h1>
                <button class="btn btn-primary ">Créer une équipe</button>
            </div>
            <div class="trait"></div>
        </div>

    </div>

 
    
{% endblock %}

{% block scripts %}

{% endblock %}